name: Keycloak Extensions Build

on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: "0 2 * * *"  # Runs every night at 2 AM UTC
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        keycloak-version: [ 26.4.1, 26.3.5, 26.2.5 ]
    name: Keycloak ${{ matrix.keycloak-version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: keycloak

      - name: Cache Maven Dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: maven-${{ runner.os }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            maven-${{ runner.os }}-    

      - name: Run Keycloak Extensions Build
        working-directory: keycloak
        run: |
          ./kc-extension.sh build --keycloak-version=${{ matrix.keycloak-version }}
      
      - name: Install Podman
        run: |
          sudo apt update
          sudo apt -y install podman

      - name: Verify Podman version
        run: podman --version
        
      - name: Run Keycloak Extensions Image
        working-directory: keycloak
        run: |
          ./kc-extension.sh image    
